*
{
    margin: 0;
    padding: 0;

}
body
{
    background-color: gray;

}
.gadgets1
{
    width:100%;
}
.nature{
    width: 100%;
    text-align: center;
    justify-content: center;

}
.nature img
{
    margin: 30px;
    
}
.nature img
{
    box-shadow:1px 2px 10px 5px rgb(10, 10, 10);
}
.nature img:hover
{
    opacity: 0.85;
}